  .card{
    background: white;
    padding: 30px;
    box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
    margin: 20px 0;
    border-radius: 4px;
    border-top: 1px solid rgba(36, 180, 151, 0.2);
    text-justify: center;
  }

